In [110]:
import boto3
import pandas as pd
from io import StringIO
import time
import datetime as dt

In [5]:
AWS_ACCESS_KEY = "AKIA4CRDWVNYLA4RLUIA"
AWS_SECRET_KEY = "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"
AWS_REGION="ap-southeast-1"
SCHEMA_NAME="covid19_germany_rawdata"
S3_STAGING_DIR="s3://alivebook-covid19germany-project/output/"
S3_BUCKET_NAME="alivebook-covid19germany-project"
S3_OUTPUT_DIRECTORY="output"

In [6]:
athena_client = boto3.client(
    "athena",
    aws_access_key_id=AWS_ACCESS_KEY,
    aws_secret_access_key=AWS_SECRET_KEY,
    region_name=AWS_REGION)

In [7]:
Dict={}
def download_and_load_query_results(client: boto3.client, query_response: Dict) -> pd.DataFrame:
    while True:
        try:
            # This function only loads the first 1000 rows
            client.get_query_results(
                QueryExecutionId=query_response["QueryExecutionId"]
            )
            break
        except Exception as err:
            if "not yet finished" in str(err):
                time.sleep(0.001)
            else:
                raise err
    temp_file_location: str = "athena_query_results.csv"
    s3_client = boto3.client(
        "s3",
        aws_access_key_id=AWS_ACCESS_KEY,
        aws_secret_access_key=AWS_SECRET_KEY,
        region_name=AWS_REGION,
    )
    s3_client.download_file(
        S3_BUCKET_NAME,
        f"{S3_OUTPUT_DIRECTORY}/{query_response['QueryExecutionId']}.csv",
        temp_file_location,
    )
    return pd.read_csv(temp_file_location)

In [8]:
response=athena_client.start_query_execution(
    QueryString = "SELECT * FROM covid_de",
    QueryExecutionContext={"Database":SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"},
    })
covid_de=download_and_load_query_results(athena_client, response)
covid_de.head()

,state,county,age_group,gender,date,cases,deaths,recovered
0,Rheinland-Pfalz,LK Westerwaldkreis,05-14,M,2022-05-13,6,0,6
1,Rheinland-Pfalz,LK Westerwaldkreis,05-14,M,2022-05-14,5,0,5
2,Rheinland-Pfalz,LK Westerwaldkreis,05-14,M,2022-05-16,8,0,8
3,Rheinland-Pfalz,LK Westerwaldkreis,05-14,M,2022-05-17,13,0,13
4,Rheinland-Pfalz,LK Westerwaldkreis,05-14,M,2022-05-18,8,0,8

In [10]:
response=athena_client.start_query_execution(
    QueryString = "SELECT * FROM covid_de_vaccines",
    QueryExecutionContext={"Database":SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"},
    })
covid_de_vaccines=download_and_load_query_results(athena_client, response)
covid_de_vaccines.head()

,date,doses,doses_first,doses_second,pfizer_cumul,moderna_cumul,astrazeneca_cumul,persons_first_cumul,persons_full_cumul
0,2020-12-27,24427,24427,0,24418,8,1,24427,0
1,2020-12-28,18073,18073,0,42489,9,2,42500,0
2,2020-12-29,50229,50229,0,92717,9,3,92729,0
3,2020-12-30,64213,64213,0,156929,10,3,156942,0
4,2020-12-31,49985,49985,0,206912,12,3,206927,0

In [11]:
response=athena_client.start_query_execution(
    QueryString = "SELECT * FROM demographics_de",
    QueryExecutionContext={"Database":SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"},
    })
demographics_de=download_and_load_query_results(athena_client, response)
demographics_de.head()

                state  gender age_group  population
0  Baden-Wuerttemberg  female     00-04      261674
1  Baden-Wuerttemberg  female     05-14      490822
2  Baden-Wuerttemberg  female     15-34     1293488
3  Baden-Wuerttemberg  female     35-59     1919649
4  Baden-Wuerttemberg  female     60-79     1182736

In [12]:
# create GenderDim

In [32]:
response=athena_client.start_query_execution(
    QueryString = "SELECT gender FROM covid_de group by gender;",
    QueryExecutionContext={"Database":SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"},
    })
GenderDim=download_and_load_query_results(athena_client, response)
GenderDim.head()

  gender
0      F
1      M
2    NaN

In [15]:
# create AgeGroupDim

In [25]:
response=athena_client.start_query_execution(
    QueryString = "SELECT age_group FROM demographics_de group by age_group order by age_group;",
    QueryExecutionContext={"Database":SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"},
    })
AgeGroupDim=download_and_load_query_results(athena_client, response)
AgeGroupDim

  age_group
0     00-04
1     05-14
2     15-34
3     35-59
4     60-79
5     80-99

In [20]:
# create StateDim

In [27]:
response=athena_client.start_query_execution(
    QueryString = "SELECT state FROM demographics_de group by state order by state;",
    QueryExecutionContext={"Database":SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"},
    })
StateDim=download_and_load_query_results(athena_client, response)
StateDim

                     state
0       Baden-Wuerttemberg
1                   Bayern
2                   Berlin
3              Brandenburg
4                   Bremen
5                  Hamburg
6                   Hessen
7   Mecklenburg-Vorpommern
8            Niedersachsen
9      Nordrhein-Westfalen
10         Rheinland-Pfalz
11                Saarland
12                 Sachsen
13          Sachsen-Anhalt
14      Schleswig-Holstein
15              Thueringen

In [50]:
# create DateDim

In [125]:
response=athena_client.start_query_execution(
    QueryString = "SELECT date FROM covid_de group by date order by date;",
    QueryExecutionContext={"Database":SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"},
    })
DateDim=download_and_load_query_results(athena_client, response)
DateDim

            date
0     2020-01-02
1     2020-01-23
2     2020-01-28
3     2020-01-29
4     2020-01-31
...          ...
1089  2023-01-29
1090  2023-01-30
1091  2023-01-31
1092  2023-02-01
1093  2023-02-02

[1094 rows x 1 columns]

In [126]:
# Create DateDim

In [127]:
DateDim['date']=pd.to_datetime(DateDim['date'], format='%Y-%m-%d')

In [128]:
DateDim['day']=DateDim['date'].dt.day
DateDim['month']=DateDim['date'].dt.month
DateDim['year']=DateDim['date'].dt.year
DateDim['day_of_week']=DateDim['date'].dt.dayofweek

In [129]:
DateDim

           date  day  month  year  day_of_week
0    2020-01-02    2      1  2020            3
1    2020-01-23   23      1  2020            3
2    2020-01-28   28      1  2020            1
3    2020-01-29   29      1  2020            2
4    2020-01-31   31      1  2020            4
...         ...  ...    ...   ...          ...
1089 2023-01-29   29      1  2023            6
1090 2023-01-30   30      1  2023            0
1091 2023-01-31   31      1  2023            1
1092 2023-02-01    1      2  2023            2
1093 2023-02-02    2      2  2023            3

[1094 rows x 5 columns]

In [28]:
# Create TotalCovidFact

In [169]:
response=athena_client.start_query_execution(
    QueryString = "SELECT state, gender, age_group, date, sum(cases) as total_cases, sum(deaths) as total_deaths FROM covid_de group by state, gender, age_group, date;",
    QueryExecutionContext={"Database":SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"},
    })
TotalCovidFact=download_and_load_query_results(athena_client, response)
TotalCovidFact

,state,gender,age_group,date,total_cases,total_deaths
0,Nordrhein-Westfalen,M,15-34,2021-09-13,282,0
1,Nordrhein-Westfalen,M,15-34,2021-09-22,352,0
2,Nordrhein-Westfalen,M,15-34,2021-09-23,256,0
3,Nordrhein-Westfalen,M,15-34,2021-10-25,265,0
4,Nordrhein-Westfalen,M,15-34,2021-11-13,604,0
...,...,...,...,...,...,...
216614,Hessen,M,NaN,2021-12-09,1,0
216615,Hessen,M,NaN,2021-12-12,1,0
216616,Hessen,F,05-14,2020-03-21,1,0
216617,Hessen,F,00-04,2021-02-14,3,0
216618,Hessen,NaN,35-59,2022-07-24,1,0

In [91]:
# Create total_cases

In [148]:
response=athena_client.start_query_execution(
    QueryString = "SELECT state, sum(cases) as total_cases FROM covid_de group by state order by state;",
    QueryExecutionContext={"Database":SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"},
    })
total_cases=download_and_load_query_results(athena_client, response)
total_cases

                     state  total_cases
0       Baden-Wuerttemberg      5009778
1                   Bayern      6668169
2                   Berlin      1418585
3              Brandenburg      1104240
4                   Bremen       301050
5                  Hamburg       802806
6                   Hessen      2887077
7   Mecklenburg-Vorpommern       706888
8            Niedersachsen      3820165
9      Nordrhein-Westfalen      7918225
10         Rheinland-Pfalz      1742703
11                Saarland       484735
12                 Sachsen      1944901
13          Sachsen-Anhalt       954211
14      Schleswig-Holstein      1167600
15              Thueringen       878491

In [99]:
# Create total_deaths

In [151]:
response=athena_client.start_query_execution(
    QueryString = "SELECT state, sum(deaths) as total_deaths FROM covid_de group by state order by state;",
    QueryExecutionContext={"Database":SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"},
    })
total_deaths=download_and_load_query_results(athena_client, response)
total_deaths

                     state  total_deaths
0       Baden-Wuerttemberg         18985
1                   Bayern         28116
2                   Berlin          5446
3              Brandenburg          6438
4                   Bremen           956
5                  Hamburg          3544
6                   Hessen         12179
7   Mecklenburg-Vorpommern          2733
8            Niedersachsen         13190
9      Nordrhein-Westfalen         30862
10         Rheinland-Pfalz          6833
11                Saarland          2087
12                 Sachsen         16744
13          Sachsen-Anhalt          6236
14      Schleswig-Holstein          3443
15              Thueringen          8224

In [152]:
RateCovidFact=total_deaths.copy()

In [153]:
RateCovidFact["rate_death_case"]=total_deaths.iloc[:,1]/total_cases.iloc[:,1]

In [154]:
RateCovidFact

                     state  total_deaths  rate_death_case
0       Baden-Wuerttemberg         18985         0.003790
1                   Bayern         28116         0.004216
2                   Berlin          5446         0.003839
3              Brandenburg          6438         0.005830
4                   Bremen           956         0.003176
5                  Hamburg          3544         0.004415
6                   Hessen         12179         0.004218
7   Mecklenburg-Vorpommern          2733         0.003866
8            Niedersachsen         13190         0.003453
9      Nordrhein-Westfalen         30862         0.003898
10         Rheinland-Pfalz          6833         0.003921
11                Saarland          2087         0.004305
12                 Sachsen         16744         0.008609
13          Sachsen-Anhalt          6236         0.006535
14      Schleswig-Holstein          3443         0.002949
15              Thueringen          8224         0.009362

In [155]:
# Create total_population

In [156]:
response=athena_client.start_query_execution(
    QueryString = "SELECT state, sum(population) as total_population FROM demographics_de group by state order by state;",
    QueryExecutionContext={"Database":SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"},
    })
total_population=download_and_load_query_results(athena_client, response)
total_population

                     state  total_population
0       Baden-Wuerttemberg          11069533
1                   Bayern          13076721
2                   Berlin           3644826
3              Brandenburg           2511917
4                   Bremen            682986
5                  Hamburg           1841179
6                   Hessen           6265809
7   Mecklenburg-Vorpommern           1609675
8            Niedersachsen           7982448
9      Nordrhein-Westfalen          17932651
10         Rheinland-Pfalz           4084844
11                Saarland            990509
12                 Sachsen           4077937
13          Sachsen-Anhalt           2208321
14      Schleswig-Holstein           2896712
15              Thueringen           2143145

In [157]:
RateCovidFact["rate_case_population"]=total_cases.iloc[:,1]/total_population.iloc[:,1]

In [159]:
RateCovidFact.drop(columns={"total_deaths"},axis=1,inplace=True)

In [160]:
RateCovidFact

                     state  rate_death_case  rate_case_population
0       Baden-Wuerttemberg         0.003790              0.452574
1                   Bayern         0.004216              0.509927
2                   Berlin         0.003839              0.389205
3              Brandenburg         0.005830              0.439601
4                   Bremen         0.003176              0.440785
5                  Hamburg         0.004415              0.436028
6                   Hessen         0.004218              0.460767
7   Mecklenburg-Vorpommern         0.003866              0.439150
8            Niedersachsen         0.003453              0.478571
9      Nordrhein-Westfalen         0.003898              0.441554
10         Rheinland-Pfalz         0.003921              0.426627
11                Saarland         0.004305              0.489380
12                 Sachsen         0.008609              0.476933
13          Sachsen-Anhalt         0.006535              0.432098
14      Schleswig-Holstein         0.002949              0.403078
15              Thueringen         0.009362              0.409907

In [161]:
# Save data as .csv into s3

In [163]:
bucket = 'alivebook-covid19germany-project'

In [172]:
csv_buffer = StringIO()
GenderDim.to_csv(csv_buffer)
s3 = boto3.client('s3', aws_access_key_id=AWS_ACCESS_KEY,aws_secret_access_key=AWS_SECRET_KEY,region_name=AWS_REGION)
s3.put_object(Bucket=bucket, Body=csv_buffer.getvalue(), Key='DW_Staging/GenderDim.csv')

{'ResponseMetadata': {'RequestId': '08R8VNB0RN9QZ8NW',
  'HostId': 'Qkl1J43AcmCQ19qqvrPkOJk4rpGw9eoNXIWaUDLKue1amNSb8mmshoUpbzk2JNSErl+Js4QCKFE=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'Qkl1J43AcmCQ19qqvrPkOJk4rpGw9eoNXIWaUDLKue1amNSb8mmshoUpbzk2JNSErl+Js4QCKFE=',
   'x-amz-request-id': '08R8VNB0RN9QZ8NW',
   'date': 'Sun, 18 Jun 2023 12:23:10 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"719a808718e85d8b6574206ef8838b99"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"719a808718e85d8b6574206ef8838b99"',
 'ServerSideEncryption': 'AES256'}

In [173]:
csv_buffer = StringIO()
AgeGroupDim.to_csv(csv_buffer)
s3 = boto3.client('s3', aws_access_key_id=AWS_ACCESS_KEY,aws_secret_access_key=AWS_SECRET_KEY,region_name=AWS_REGION)
s3.put_object(Bucket=bucket, Body=csv_buffer.getvalue(), Key='DW_Staging/AgeGroupDim.csv')

{'ResponseMetadata': {'RequestId': 'WHNQVQT9FAC8Y6QR',
  'HostId': '2UzajcicyQsRww5asvJIM0D/b7hlAzfhLqw0Ebc1egSe3I/3PVx7OBPqA/eB1bpA9W2FbLeQeAY=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': '2UzajcicyQsRww5asvJIM0D/b7hlAzfhLqw0Ebc1egSe3I/3PVx7OBPqA/eB1bpA9W2FbLeQeAY=',
   'x-amz-request-id': 'WHNQVQT9FAC8Y6QR',
   'date': 'Sun, 18 Jun 2023 12:23:11 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"bb5f846a547e729edfaa928d9f8780f4"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"bb5f846a547e729edfaa928d9f8780f4"',
 'ServerSideEncryption': 'AES256'}

In [174]:
csv_buffer = StringIO()
StateDim.to_csv(csv_buffer)
s3 = boto3.client('s3', aws_access_key_id=AWS_ACCESS_KEY,aws_secret_access_key=AWS_SECRET_KEY,region_name=AWS_REGION)
s3.put_object(Bucket=bucket, Body=csv_buffer.getvalue(), Key='DW_Staging/StateDim.csv')

{'ResponseMetadata': {'RequestId': 'EVRP10TRB7GR2QHZ',
  'HostId': 'dr69q8JxmVGCc4OBZtuGlMfJKwPeLVgtLwYudL0PAamLJfqf175UhAK4ndCPsTAWndojlzCQ4XbexvZt2NFw9A==',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'dr69q8JxmVGCc4OBZtuGlMfJKwPeLVgtLwYudL0PAamLJfqf175UhAK4ndCPsTAWndojlzCQ4XbexvZt2NFw9A==',
   'x-amz-request-id': 'EVRP10TRB7GR2QHZ',
   'date': 'Sun, 18 Jun 2023 12:23:12 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"7a7a6d5ace53023a5fc8feb880f4731f"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"7a7a6d5ace53023a5fc8feb880f4731f"',
 'ServerSideEncryption': 'AES256'}

In [175]:
csv_buffer = StringIO()
DateDim.to_csv(csv_buffer)
s3 = boto3.client('s3', aws_access_key_id=AWS_ACCESS_KEY,aws_secret_access_key=AWS_SECRET_KEY,region_name=AWS_REGION)
s3.put_object(Bucket=bucket, Body=csv_buffer.getvalue(), Key='DW_Staging/DateDim.csv')

{'ResponseMetadata': {'RequestId': 'QSZN4XHJ43Q0NH9P',
  'HostId': 'CSiKwzD3TaEg+C5YXYQnGilO6OqnGpfVB2mshA7ceInoJgaS0D0cNEsq4fuR3rUtHBnwgWwEjQpV59S63OKpNw==',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'CSiKwzD3TaEg+C5YXYQnGilO6OqnGpfVB2mshA7ceInoJgaS0D0cNEsq4fuR3rUtHBnwgWwEjQpV59S63OKpNw==',
   'x-amz-request-id': 'QSZN4XHJ43Q0NH9P',
   'date': 'Sun, 18 Jun 2023 12:23:13 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"695fb464b71d11deb9cc89b4cd82e395"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"695fb464b71d11deb9cc89b4cd82e395"',
 'ServerSideEncryption': 'AES256'}

In [176]:
csv_buffer = StringIO()
TotalCovidFact.to_csv(csv_buffer)
s3 = boto3.client('s3', aws_access_key_id=AWS_ACCESS_KEY,aws_secret_access_key=AWS_SECRET_KEY,region_name=AWS_REGION)
s3.put_object(Bucket=bucket, Body=csv_buffer.getvalue(), Key='DW_Staging/TotalCovidFact.csv')

{'ResponseMetadata': {'RequestId': 'DVJAFAG1TWJ7MQ0E',
  'HostId': 'wgb7dhpdZe38EPUPWunvvqE6qLfGBDn7194rh0cG80wDOSBlg35HDLZZroU050CUmz2FGWaNFRV+smppEB7cwQ==',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'wgb7dhpdZe38EPUPWunvvqE6qLfGBDn7194rh0cG80wDOSBlg35HDLZZroU050CUmz2FGWaNFRV+smppEB7cwQ==',
   'x-amz-request-id': 'DVJAFAG1TWJ7MQ0E',
   'date': 'Sun, 18 Jun 2023 12:23:14 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"4d54ecdcc2c5b2b50a62aba2d54b16eb"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"4d54ecdcc2c5b2b50a62aba2d54b16eb"',
 'ServerSideEncryption': 'AES256'}

In [177]:
csv_buffer = StringIO()
RateCovidFact.to_csv(csv_buffer)
s3 = boto3.client('s3', aws_access_key_id=AWS_ACCESS_KEY,aws_secret_access_key=AWS_SECRET_KEY,region_name=AWS_REGION)
s3.put_object(Bucket=bucket, Body=csv_buffer.getvalue(), Key='DW_Staging/RateCovidFact.csv')

{'ResponseMetadata': {'RequestId': '34F52BF425QVDH4H',
  'HostId': '94YuWPgjkfgkK1jl7JYdwQqmycN6I6uomGCSqu2UcUTodRsijSKuK5g5dXhHfL5VE79gxfXhs1s=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': '94YuWPgjkfgkK1jl7JYdwQqmycN6I6uomGCSqu2UcUTodRsijSKuK5g5dXhHfL5VE79gxfXhs1s=',
   'x-amz-request-id': '34F52BF425QVDH4H',
   'date': 'Sun, 18 Jun 2023 12:23:23 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"ba5db527dd49d1407038f97681ecb0c0"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"ba5db527dd49d1407038f97681ecb0c0"',
 'ServerSideEncryption': 'AES256'}

In [178]:
# Script create data warehouse database

In [187]:
# Connect Redshift

In [299]:
import psycopg2
import configparser
config = configparser.ConfigParser()
config.read_file(open('cluster_covid.config'))

In [300]:
KEY = config.get("AWS", "KEY")
SECRET = config.get("AWS", "SECRET")
DWH_CLUSTER_TYPE = config.get("DWH", "DWH_CLUSTER_TYPE")
DWH_NUM_NODES = config.get("DWH", "DWH_NUM_NODES")
DWH_NODE_TYPE = config.get("DWH", "DWH_NODE_TYPE")
DWH_CLUSTER_IDENTIFIER = config.get("DWH", "DWH_CLUSTER_IDENTIFIER")
DWH_DB = config.get("DWH", "DWH_DB")
DWH_DB_USER = config.get("DWH", "DWH_DB_USER")
DWH_DB_PASSWORD = config.get("DWH", "DWH_DB_PASSWORD")
DWH_PORT = config.get("DWH", "DWH_PORT")
DWH_IAM_ROLE_NAME = config.get("DWH", "DWH_IAM_ROLE_NAME")

(DWH_DB_USER,DWH_DB)

('awsuser', 'dw_covid_germany')

In [301]:
ec2 = boto3.resource('ec2',
                    region_name="ap-southeast-1",
                    aws_access_key_id=KEY,
                    aws_secret_access_key=SECRET)

s3 = boto3.resource('s3',
                    region_name="ap-southeast-1",
                    aws_access_key_id=KEY,
                    aws_secret_access_key=SECRET)

iam = boto3.client('iam',
                    region_name="ap-southeast-1",
                    aws_access_key_id=KEY,
                    aws_secret_access_key=SECRET)

redshift = boto3.client('redshift',
                    region_name="ap-southeast-1",
                    aws_access_key_id=KEY,
                    aws_secret_access_key=SECRET)

In [302]:
roleArn = iam.get_role(RoleName=DWH_IAM_ROLE_NAME)['Role']['Arn']
roleArn

'arn:aws:iam::830077315952:role/redshift_role'

In [303]:
try:
    response = redshift.create_cluster(
    ClusterType=DWH_CLUSTER_TYPE,
    NodeType=DWH_NODE_TYPE,
    
    #Identifiers & Credentials
    DBName=DWH_DB,
    ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,
    MasterUsername=DWH_DB_USER,
    MasterUserPassword=DWH_DB_PASSWORD,
    #Roles (for s3 access)
    IamRoles = [roleArn])
except Exception as e:
    print(e)

An error occurred (AccessDenied) when calling the CreateCluster operation: User: arn:aws:iam::830077315952:user/alivebook is not authorized to perform: iam:PassRole on resource: arn:aws:iam::830077315952:role/redshift_role with an explicit deny in an identity-based policy

In [304]:
redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]

{'ClusterIdentifier': 'redshift-cluster-2',
 'NodeType': 'dc2.large',
 'ClusterStatus': 'available',
 'ClusterAvailabilityStatus': 'Available',
 'MasterUsername': 'awsuser',
 'DBName': 'dev',
 'Endpoint': {'Address': 'redshift-cluster-2.c1mynk9ssisr.ap-southeast-1.redshift.amazonaws.com',
  'Port': 5439},
 'ClusterCreateTime': datetime.datetime(2023, 6, 18, 15, 0, 15, 752000, tzinfo=tzutc()),
 'AutomatedSnapshotRetentionPeriod': 1,
 'ManualSnapshotRetentionPeriod': -1,
 'ClusterSecurityGroups': [],
 'VpcSecurityGroups': [{'VpcSecurityGroupId': 'sg-08a2c4f342596830f',
   'Status': 'active'}],
 'ClusterParameterGroups': [{'ParameterGroupName': 'default.redshift-1.0',
   'ParameterApplyStatus': 'in-sync'}],
 'ClusterSubnetGroupName': 'default',
 'VpcId': 'vpc-0bba473ff1d54e0d8',
 'AvailabilityZone': 'ap-southeast-1c',
 'PreferredMaintenanceWindow': 'fri:14:30-fri:15:00',
 'PendingModifiedValues': {},
 'ClusterVersion': '1.0',
 'AllowVersionUpgrade': True,
 'NumberOfNodes': 1,
 'PubliclyAccessible': True,
 'Encrypted': False,
 'ClusterPublicKey': 'ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCtkM1MbyS2zRaUVYtdlmnX7NwIeBeRp2L36RD7fcgTwHphAuKXTc6E8HQQd7Pus8o6oPCsIqQY0/R3Csvlj8HT6HpkeuH5h4SP2PRFs42OaZKzNQKDBCcQELh+ppuo+N5gZ0+BteHtJhX9ww1s9ONknsEFKnX1CmHYnrwZdItrjTODBeiobjB0Fz6p4yR2XS6FU1rP40tirbSipjmjUZKoDsWQa6207/rB63xsW0c+u/YsVO0U+Ig5nln6gBQx9hDoAGAEHuq4DwhXK/Fa4PSwPIoLFJdudVF9jrg7VdDpUr8Uq7JUJSayBKCZq9myvpbYWebRfEcVlJnjywVxcjN7 Amazon-Redshift\n',
 'ClusterNodes': [{'NodeRole': 'SHARED',
   'PrivateIPAddress': '172.31.10.152',
   'PublicIPAddress': '13.229.24.9'}],
 'ClusterRevisionNumber': '51973',
 'Tags': [],
 'EnhancedVpcRouting': False,
 'IamRoles': [{'IamRoleArn': 'arn:aws:iam::830077315952:role/redshift_role',
   'ApplyStatus': 'in-sync'}],
 'MaintenanceTrackName': 'current',
 'DeferredMaintenanceWindows': [],
 'NextMaintenanceWindowStartTime': datetime.datetime(2023, 6, 23, 14, 30, tzinfo=tzutc()),
 'AvailabilityZoneRelocationStatus': 'disabled',
 'ClusterNamespaceArn': 'arn:aws:redshift:ap-southeast-1:830077315952:namespace:acb78b41-1ddd-438c-a811-1d22d12dd4f9',
 'TotalStorageCapacityInMegaBytes': 400000,
 'AquaConfiguration': {'AquaStatus': 'disabled',
  'AquaConfigurationStatus': 'auto'},
 'DefaultIamRoleArn': 'arn:aws:iam::830077315952:role/redshift_role'}

In [305]:
def prettyRedshiftProps(props):
    pd.set_option('display.max_colwidth',100)
    keysToShow=["ClusterIdentifier", "NodeType", "ClusterStatus", "MasterUsername", "DBName", "Endpoint", "VpcId"]
    x=[(k,v) for k,v in props.items() if k in keysToShow]
    return pd.DataFrame(data=x, columns=["Key","Value"])

myClusterProps=redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

,Key,Value
0,ClusterIdentifier,redshift-cluster-2
1,NodeType,dc2.large
2,ClusterStatus,available
3,MasterUsername,awsuser
4,DBName,dev
5,Endpoint,"{'Address': 'redshift-cluster-2.c1mynk9ssisr.ap-southeast-1.redshift.amazonaws.com', 'Port': 5439}"
6,VpcId,vpc-0bba473ff1d54e0d8

In [306]:
DWH_ENDPOINT=myClusterProps['Endpoint']['Address']
DWH_ROLE_ARN=myClusterProps['IamRoles'][0]['IamRoleArn']
DB_NAME=myClusterProps['DBName']
DB_USER=myClusterProps['MasterUsername']
DB_NAME, DWH_ENDPOINT, DB_USER, DWH_ROLE_ARN

('dev',
 'redshift-cluster-2.c1mynk9ssisr.ap-southeast-1.redshift.amazonaws.com',
 'awsuser',
 'arn:aws:iam::830077315952:role/redshift_role')

In [307]:
try:
    vpc = ec2.Vpc(id=myClusterProps['VpcId'])
    defaultSg = list(vpc.security_groups.all())[0]
    print(defaultSg)
    defaultSg.authorize_ingress(
    GroupName=defaultSg.group_name,
    CidrIp='0.0.0.0/0',
    IpProtocol='TCP',
    FromPort=int(DWH_PORT),
    ToPort=int(DWH_PORT))
except Exception as e:
    print(e)

ec2.SecurityGroup(id='sg-08a2c4f342596830f')
An error occurred (InvalidPermission.Duplicate) when calling the AuthorizeSecurityGroupIngress operation: the specified rule "peer: 0.0.0.0/0, TCP, from port: 5439, to port: 5439, ALLOW" already exists

In [308]:
try:
    conn = psycopg2.connect(host=DWH_ENDPOINT, dbname=DB_NAME, user=DB_USER, password="Phuoc0127", port=5439)
except psycopg2.Error as e:
    print("Error: Could not make connection to the postgres database")
    print(e)
    
conn.set_session(autocommit=True)

In [309]:
try:
    cur=conn.cursor()
except psycopg2.Error as e:
    print("Error: Could not get cursor to the Database")
    print(e)

In [310]:
# create table for DW

In [320]:
try:
    cur.execute("""
    create table GenderDim(
    id INTEGER,
    gender char(2));
    """)
except psycopg2.Error as e:
    print("Error: Issue creating table")
    print(e)

In [321]:
try:
    cur.execute("""
    create table AgeGroupDim(
    id INTEGER,
    age_group char(10));
    """)
except psycopg2.Error as e:
    print("Error: Issue creating table")
    print(e)

In [322]:
try:
    cur.execute("""
    create table StateDim(
    id INTEGER,
    state char(100));
    """)
except psycopg2.Error as e:
    print("Error: Issue creating table")
    print(e)

In [324]:
try:
    cur.execute("""
    create table DateDim(
    id INTEGER,
    date TIMESTAMP,
    day INTEGER,
    month INTEGER,
    year INTEGER,
    day_of_week INTEGER);
    """)
except psycopg2.Error as e:
    print("Error: Issue creating table")
    print(e)

In [325]:
try:
    cur.execute("""
    create table TotalCovidFact(
    id INTEGER,
    state char(100),
    gender char(2),
    age_group char(10),
    date TIMESTAMP,
    total_cases INTEGER,
    total_deaths INTEGER);
    """)
except psycopg2.Error as e:
    print("Error: Issue creating table")
    print(e)

In [327]:
try:
    cur.execute("""
    create table RateCovidFact(
    id INTEGER,
    state char(100),
    rate_death_case FLOAT,
    rate_case_population FLOAT);
    """)
except psycopg2.Error as e:
    print("Error: Issue creating table")
    print(e)

In [328]:
# Load data into DW

In [329]:
try:
    cur.execute("""
    copy GenderDim from 's3://alivebook-covid19germany-project/DW_Staging/GenderDim.csv'
    credentials 'aws_iam_role=arn:aws:iam::830077315952:role/redshift_role'
    delimiter ','
    region 'ap-southeast-1'
    IGNOREHEADER 1
    """)
except psycopg2.Error as e:
    print("Error: Issue creating table")
    print(e)

In [330]:
try:
    cur.execute("""
    copy AgeGroupDim from 's3://alivebook-covid19germany-project/DW_Staging/AgeGroupDim.csv'
    credentials 'aws_iam_role=arn:aws:iam::830077315952:role/redshift_role'
    delimiter ','
    region 'ap-southeast-1'
    IGNOREHEADER 1
    """)
except psycopg2.Error as e:
    print("Error: Issue creating table")
    print(e)

In [331]:
try:
    cur.execute("""
    copy StateDim from 's3://alivebook-covid19germany-project/DW_Staging/StateDim.csv'
    credentials 'aws_iam_role=arn:aws:iam::830077315952:role/redshift_role'
    delimiter ','
    region 'ap-southeast-1'
    IGNOREHEADER 1
    """)
except psycopg2.Error as e:
    print("Error: Issue creating table")
    print(e)

In [332]:
try:
    cur.execute("""
    copy DateDim from 's3://alivebook-covid19germany-project/DW_Staging/DateDim.csv'
    credentials 'aws_iam_role=arn:aws:iam::830077315952:role/redshift_role'
    delimiter ','
    region 'ap-southeast-1'
    IGNOREHEADER 1
    """)
except psycopg2.Error as e:
    print("Error: Issue creating table")
    print(e)

In [333]:
try:
    cur.execute("""
    copy TotalCovidFact from 's3://alivebook-covid19germany-project/DW_Staging/TotalCovidFact.csv'
    credentials 'aws_iam_role=arn:aws:iam::830077315952:role/redshift_role'
    delimiter ','
    region 'ap-southeast-1'
    IGNOREHEADER 1
    """)
except psycopg2.Error as e:
    print("Error: Issue creating table")
    print(e)

In [334]:
try:
    cur.execute("""
    copy RateCovidFact from 's3://alivebook-covid19germany-project/DW_Staging/RateCovidFact.csv'
    credentials 'aws_iam_role=arn:aws:iam::830077315952:role/redshift_role'
    delimiter ','
    region 'ap-southeast-1'
    IGNOREHEADER 1
    """)
except psycopg2.Error as e:
    print("Error: Issue creating table")
    print(e)